body {
    font-family: "Open Sans";
    font-size: 14px;
    color: var(--white);
}
a {
    color: var(--white);
    text-decoration: none;
}
.hover-item {
    &:hover {
        font-weight: 700;
    }
}