#testimonials {
    background-color: var(--main-background);
    padding-top: 180px;
    padding-bottom: 360px;
    @media (max-width:575.98px) {
        padding-bottom: 337px;
    }
}
.testimonials__card {
    border-radius: 3.933px;
    background: var(--testimonials-background);
    box-shadow: 5px 5px 8px 4px rgba(56, 56, 56, 0.10);
    padding: 40px 24px 26px 26px;
    &:first-child {
        position: relative;
        &::before {
            content: url(../img/bg-quotes.png);
            position: absolute;
            top: -35px;
            left: -10px;
        }
    }
}
.testimonials__profile {
    column-gap: 8px;
}
.testimonials__text {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.5px;
}
.profile__image {
    width: 24px;
    height: 24px;
    img {
    border-radius: 50%;
    }
}
.profile__name {
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.5px;
}
.profile__profession {
    font-size: 8px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0.5px;
}