:root {
    // colors
    --intro-background: #1c2431;
    --main-background: #181f2a;
    --footer-background: #0b1523;
    --testimonials-background: #202a3c;

    --gradient-cyan: #65e2d9;
    --gradient-blue: #339ecc;

    --white: #ffffff;

}

